<a href="https://colab.research.google.com/github/praneetha2003/Python/blob/main/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Module 2**

**#Create a function which accepts two inputs from the user and compute nCr**

In [3]:
def fact(i):
 if i>0:
  return i*fact(i-1)
 else:
  return 1
def comb(n,r):
 return (fact(n)/((fact(n-r))*fact(r)))
a=int(input('a='))
b=int(input('b='))
comb(a,b)

a=5
b=3

10.0

**#Program to print a specified list after removing the 0th, 4th and 5th elements**

In [1]:
my_list=['Red','Green','White','Black','Pink','Yellow']
del my_list[0]
del my_list[3]
del my_list[3]
print(my_list)

['Green', 'White', 'Black']

**#Program to get the difference between the two lists.**

In [5]:
one_list=[1,4,2,4,2,5,7,5,7,8,4,3,5]
other_list=[3,4,5,3,6,3,7,9,2]
x=set(one_list)
y=set(other_list)
z1=x.difference(y)
z2=y.difference(x)
print(list(z1))
print(list(z2))

[8, 1]
[9, 6]

**#Program to find the second smallest number and second largest number 
in a list**

In [6]:
my_list=[4,2,6,1,8,46,987,236,54]
my_list.sort()
print(my_list)
print("The second smallest number in the given list is: ",my_list[1])
print("The second largest number in the given list is: ",my_list[len(my_list)-2])

[1, 2, 4, 6, 8, 46, 54, 236, 987]
The second smallest number in the given list is:  2
The second largest number in the given list is:  236

**#Given list of tuples, remove all the tuples with length K.**

In [7]:
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
new_list=[]
K=2
for x in test_list:
 if len(x)!=K:
  new_list.append(x)
print("The filtered list without containing any element of tupple length '2' is:",new_list)

The filtered list without containing any element of tupple length '2' is: [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

**#Given a list of numbers of list, write a Python program to create a 
list of tuples having first element as the number and second element as the square of the number.**

In [8]:
no_list=[3,86,4,56,12]
result=[(x,x**2) for x in no_list]
print("The required list is: ",result)

The required list is:  [(3, 9), (86, 7396), (4, 16), (56, 3136), (12, 144)]

**#Program to generate and print a dictionary that contains a number 
(between 1 and n) in the form (x, x*x).**

In [9]:
my_dictionary=dict()
x=int(input("Enter a number: "))
for i in range(1,x+1):
 my_dictionary.update({i:i**2})
print("The obtained dictionary is:",my_dictionary)

Enter a number: 6
The obtained dictionary is: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

**# Program to remove a key from a dictionary**

In [10]:
chocolate={
 'name':'dairymilk',
 'colour':'brown',
 'taste':'sweet',
 'cost':40
}
chocolate.pop('taste')
print(chocolate)
del chocolate['cost']
print(chocolate)

{'name': 'dairymilk', 'colour': 'brown', 'cost': 40}
{'name': 'dairymilk', 'colour': 'brown'}

**#Program to get the maximum and minimum value in a dictionary.**

In [11]:
my_dictionary={
 'a':56, 'b':65, 'c':34, 'd':23
 }
max_value=max(my_dictionary, key=my_dictionary.get)
min_value=min(my_dictionary, key=my_dictionary.get)
print("The maximum value in the given dictionary has a key:'"+max_value+"' and its value is:",my_dictionary[max_value])
print("The minimum value in the given dictionary has a key: '"+min_value+"' and its value is:",my_dictionary[min_value])

The maximum value in the given dictionary has a key:'b' and its value is: 65
The minimum value in the given dictionary has a key: 'd' and its value is: 23

**#Program for Counting occurrence of a certain element in a string, 
getting indexes that have matching elements.**

In [14]:
str_1="Rabbit"
print(str_1.count('b'))
str_2="I have to go to a doctor and get myself checked."
print(str_2.count('to'))

2
3

**#Program for replacing one substring by another For example - Rabbit -
Replace 'bb' by 'cc'**

In [15]:
string='Rabbit'
new_string=string.replace('bb','cc')
print(new_string)

Raccit

**#Python function that accepts a string and calculates the number of 
uppercase letters and lowercase letters.**

In [16]:
string="I Love my country INDIA and I respect it."
count_1=0
count_2=0
for i in string:
 if i.isupper():
  count_1+=1
 elif i.islower():
  count_2+=1
 else:
  pass
print("No.of uppercase alphabets are: ",count_1)
print("No.of lowercase alphabets are: ",count_2)

No.of uppercase alphabets are:  8
No.of lowercase alphabets are:  24

**#Program to Acronym generator for any user input**

In [19]:
string=input("enter some string:")
a=string.split()
for i in a:
 print(i[0],end='')

enter some string:praneetha rohith
pr

**# Program to count the number of strings where the string length is 2;
or more and the first and last character are same;
from a given list of strings , Sample List : ['abc', 'xyz', 'aba', 
'1221'] Expected Result : 2**

In [21]:
Sample_List = ['abc', 'xyz', 'praneetha', 
'1221','rohith','24','in','lahari']
count=0
for i in Sample_List:
 if len(i)>=2:
  if i[0]==i[len(i)-1]:
   print(i)
 count+=1
print(count)

1221
8